<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Ingresa el mensaje</h3>
    <form action="/tasks/add" method="POST">
        <div>
            <label for="tittle">Write a tittle</label>
            <input type="text" name="tittle" placeholder="tittle" id="tittle"
                class="form-control rounded-0 bg-dark text-white">
        </div>
        <div>
            <label for="description">description:</label>
            <textarea name="description" placeholder="Description"
                class="form-control rounded-0 bg-dark text-white"></textarea></textarea>
        </div>
        <button class="btn btn-primary btn-lg mt-2">Add</button>
    </form>
</div>